.LoginForm {
    position: relative;
    display: flex;
    flex-direction: column;
}

.loader {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
}

.input {
    margin-top: 10px;
    padding: 0 10px 0 40px;
}

.loginBtn {
    margin-top: 40px;
}

.wrapInput {
    position: relative;
}

.isLoad {
    pointer-events: none;
    opacity: 0.5;
}

.icon {
    pointer-events: none;

    position: absolute;
    bottom: 18%;
    left: 13px;

    width: 15px;
    height: 15px;

    fill: var(--inverted-bg-color);
}
