.ArticleDetails {
    width: 100%;
    min-height: 100%;
}

.avatar {
    margin: 0 auto;
}

.title {
    margin-top: var(--margin-m);
}

.skeleton {
    margin-top: var(--margin-sm);
}

.block {
    margin-top: var(--margin-sm);
}
