.Modal {
    pointer-events: none;

    position: fixed;
    z-index: -1;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;

    transition: all 0.3s;
}

.content {
    cursor: auto;

    position: relative;
    transform: scale(0.5);

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
    padding: 20px;

    background: var(--bg-color);
    border-radius: 3px;

    transition: transform 0.3s;
}

.opened {
    pointer-events: auto;
    z-index: var(--modal-z-index);
    opacity: 1;

    .content {
        transform: scale(1);
    }
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.icon {
    fill: var(--primary-color);
}
