.Modal {
    position: fixed;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;
    inset: 0;
}

.overlay {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    cursor: pointer;
}

.content {
    border-radius: 12px;
    padding: 20px;
    width: 50%;
    background: var(--bg-color);
    transform: scale(0.5);
    transition: transform 0.3s;
    cursor: auto;
}

.opened {
    z-index: var(--modal-z-index);
    opacity: 1;
    pointer-events: auto;

    .content {
        transform: scale(1);
    }
}