.panel {
    position: absolute;
    z-index: 1000;

    min-width: 100%;
    padding: var(--padding-xs) var(--padding-s);

    background-color: var(--listbox-bg);
    border-radius: var(--popover-radius);
    box-shadow: 4px 4px 8px rgb(80 80 80);
}
