.views {
    margin-right: 8px;
    margin-left: auto;
}

.LIST {
    .header {
        display: flex;
        align-items: center;

        & .avatar {
            margin-right: var(--margin-s);
        }
    }

    .date {
        margin-left: auto;
    }

    .img {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
    }

    .title {
        margin: var(--margin-m) 0 var(--margin-xs);
        font: var(--font-xl);
    }

    .types {
        margin-bottom: var(--margin-s);
    }

    .textBlock {
        overflow-y: hidden;
        max-height: 200px;
    }

    .footer {
        display: flex;
        align-items: center;
        margin-top: var(--margin-ml);
    }
}

.GRID {
    cursor: pointer;
    width: 230px;
    opacity: 0.85;
    transition: all 0.3s;

    .date {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
    }

    &:hover {
        transform: scale(1.01);
        opacity: 1;

        .date {
            display: block;
        }
    }

    .imageWrap {
        position: relative;
        width: 100%;
        height: 200px;
    }

    .img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .infoWrap {
        display: flex;
        align-items: center;
        margin-top: 8px;
    }

    .types {
        & div {
            overflow: hidden;
            width: 115px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .title {
        & p {
            overflow: hidden;
            margin-top: 8px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
