.Code {
    position: relative;

    overflow: auto;

    padding: var(--padding-m);

    background: var(--code-bg);
    border: 1px solid var(--primary-color);
}

.copyBtn {
    position: absolute;
    top: 20px;
    right: 20px;
}
