.Popup {
    position: relative;
}

.trigger {
    margin: 0;
    padding: 0;

    background: none;
    border: none;
    outline-color: transparent;
}

.options {
    position: absolute;
    z-index: 1000;

    min-width: 150px;

    background-color: var(--listbox-bg);
    box-shadow: 4px 4px 8px rgb(80 80 80);
}

.topLeft {
    right: 0;
    bottom: 100%;
}

.topRight {
    bottom: 100%;
    left: 0;
}

.bottomLeft {
    top: 100%;
    right: 0;
}

.bottomRight {
    top: 100%;
    left: 0;
}

.item {
    cursor: pointer;

    width: 100%;
    padding: var(--padding-xs) var(--padding-s);

    border: none;

    transition: all 0.3s;
}

.active {
    color: var(--inverted-primary-color);
    background-color: var(--inverted-bg-color);
}

.selected {
    background-color: var(--input-color-focus);
}

.disabled {
    opacity: 0.85;
}

.iconDown {
    align-self: center;
    margin-left: var(--margin-m);
}

.btn {
    display: flex;
    align-items: center;
}
