.Input {
    width: 100%;
    height: var(--input-height);

    font: var(--font-m);

    background: var(--input-color);
    border: none;
    border-radius: var(--input-radius);

    &::placeholder {
        font: var(--font-m);
    }

    &:focus {
        background: var(--input-color-focus);
        outline: none;

        &::placeholder {
            color: var(--light-color);
        }
    }
}

.label {
    width: var(--label-input-width);
    margin-right: var(--margin-l);
    word-break: break-all;
}
