.AddCommentForm {
    position: relative;
    align-items: end;
    padding: 20px;
}

.input {
    height: 50px;
    padding-left: 30px;
    font: var(--font-m);
}

.button {
    width: 100px;
    background-color: var(--bg-color);
}
