.ArticleImageBlockComponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px;
}

.img {
    display: block;
    width: 100%;
}

.title {
    margin-top: 10px;
}
