:root {
    --bg-color: var(--light-color);
    --inverted-bg-color: var(--dark-color);
    --primary-color: var(--text-color);
    --inverted-primary-color: var(--inverted-text-color);
    --secondary-color: #04e016;
    --inverted-secondary-color: #171ab8;
}
