:root {
    --bg-color: #cadbc0;
    --inverted-bg-color: #b9edf7;
    --primary-color: #811c46;
    --secondary-color: #04e016;
    --inverted-primary-color: #0b0d58;
    --inverted-secondary-color: #171ab8;
}
