.ArticleDetailsPage {
    position: relative;
    display: block;
}

.icon {
    position: absolute;
    top: 20px;
    left: 20px;
}

.recommendations {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    width: 100%;
}
