.NavBar {
    display: flex;
    align-items: center;

    width: 100%;
    height: var(--navbar-height);
    padding: 20px;

    background: var(--inverted-bg-color);
}

.mainLink {
    margin-right: 15px;
}

.appName {
    width: var(--sidebar-width);
    margin-left: 15px;
}

.icon {
    width: 30px;
    height: 30px;
    fill: var(--inverted-primary-color);
}
