.NavBar {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: var(--navbar-width);
    height: 100vh;
    padding: var(--padding-m);

    background: var(--inverted-bg-color);
}

.new {
    text-align: center;
}
