.ProfileCard {
    padding: 10px;
    border: 1px solid var(--inverted-bg-color);
}

.body {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.body input:nth-child(n) {
    margin-bottom: 10px;
}

.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.profileInput {
    padding-left: 15px;
}
