.CommentCard {
    display: flex;
    flex-direction: column;

    margin-left: 20px;
    padding: 20px;

    border: 1px solid var(--inverted-bg-color);
}

.wrap {
    display: flex;
    align-items: center;
    width: 100%;
}

.username {
    margin-left: 10px;
    text-decoration: none;
}

.comment {
    margin-left: 45px;
}

.loading {
    border: none;
}
