.Card {
    padding: var(--padding-sm) var(--padding-ml);

    // background: var(--card-bg);
    border-radius: var(--card-radius);
}

.normal {
    background: var(--card-bg);
}

.outlined {
    border: 1px solid var(--primary-color);
}

.max {
    width: 100%;
}
